
.colorblind {
  background: #FFF;
  font-size: 11pt;
  color: #000;
}

.colorblind .header {
  display: none;
}

.colorblind .wikistyle {
  border: none;
}

.colorblind .wikistyle h1 {
 border-style: solid !important;
}

.colorblind .wikistyle h2 {
 border-style: solid !important;
}

.colorblind .wikistyle h5 {
  border-style: solid !important;
}
.colorblind .wikistyle pre,
.colorblind .wikistyle code {
  border-style: solid !important;
}

.colorblind .wikistyle blockquote {
  border-left-style: solid !important;
}

