
.colorblind {
  background: #000 url('images/bg.png') repeat top left;
  margin: 0 auto;
  padding: 0 15px;
  width: 920px;
  height: 100%;
  font: normal normal normal 13.34px/normal Helvetica, Arial, freesans, clean, sans-serif;
  *font-size: small;
  color: #FFF;
}

/* Header and theme selector */

.colorblind .header h2 {
  margin-top: 1em;
  font-size: 140%;
  font-weight: normal;
  color: #96CDFF;
}

.colorblind .header select {
  margin-top: -2em;
  float: right;
}

.colorblind .header select,
.colorblind .header option {
  padding: 0 0.25em;
}

.colorblind .header optgroup {
  margin-top: 0.5em;
}


/* Theme for markdown document */

.colorblind .wikistyle {
  line-height: 1.4em;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px dotted #999;
  margin: 1em 0;
  padding: 0.7em;
}

.colorblind .wikistyle img {
  border: 0;
  max-width: 100%;
}

.colorblind .wikistyle h1,
.colorblind .wikistyle h2,
.colorblind .wikistyle h3,
.colorblind .wikistyle h4,
.colorblind .wikistyle h5,
.colorblind .wikistyle h6 {
  border: 0 !important;
  margin-bottom: 1em !important;
  color: #FF9600;
  font-size: 1.25em;
}

.colorblind .wikistyle h1 {
  font-size: 2.0em !important;
  border-top: 2px dotted #FF00FF !important;
  padding-top: 0.5em !important;
  margin-top: 1.5em !important;
}

.colorblind .wikistyle h1:first-child {
  margin-top: 0 !important;
  padding-top: 0.25em !important;
  border-top: none !important;
}

.colorblind .wikistyle h2 {
  font-size: 1.75em !important;
  margin-top: 1.5em !important;
  border-top: 1px dotted #FF00FF !important;
  padding-top: 0.5em !important;
}

.colorblind .wikistyle h3 {
  font-size: 1.5em;
  margin-top: 1em !important;
}

.colorblind .wikistyle h4 {
  font-style: italic;
}

.colorblind .wikistyle h5 {
  border-bottom: 1px dotted #FF9600 !important;
  margin-bottom: 0.3em;
  padding-bottom: 0.2em;
}

.colorblind .wikistyle h6 {
}

.colorblind .wikistyle p {
  margin: 1em 0 !important;
  line-height: 1.5em !important;
}

.colorblind .wikistyle a {
  color: #96FF32;
  text-decoration: none;
  outline: none;
}

.colorblind .wikistyle a:hover {
  text-decoration: underline;
}

.colorblind .wikistyle ul,
.colorblind .wikistyle ol {
  margin: 1em 0 1em 2em !important;
}

.colorblind .wikistyle ul li,
.colorblind .wikistyle ol li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.colorblind .wikistyle ul ul,
.colorblind .wikistyle ul ol,
.colorblind .wikistyle ol ol,
.colorblind .wikistyle ol ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.colorblind .wikistyle dt {
  font-weight: bold !important;
  color: #FF0000 !important;
  margin-left: 1em !important;
}

.colorblind .wikistyle dd {
  margin-left: 2em !important;
  margin-bottom: 1em !important;
}

.colorblind .wikistyle pre,
.colorblind .wikistyle code {
  font: 12px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 12px !important;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF !important;
  border: 1px dotted #555 !important;
}

.colorblind .wikistyle pre {
  margin: 1em 0 !important;
  padding: 1.5em !important;
  line-height: 1.4em !important;
  overflow: auto !important;
}

.colorblind .wikistyle code {
  padding: 0 0.5em !important;
}

.colorblind .wikistyle pre code {
  padding: 0 !important;
  font-size: 12px !important;
  background-color: none;
  border: none !important;
}

.colorblind .wikistyle blockquote {
  margin: 1em 0 !important;
  border-left: 1px dotted #FF00FF !important;
  padding-left: 0.6em !important;
  color: #0080FF;
}

.colorblind .wikistyle abbr {
  border-bottom: none;
}

.colorblind .wikistyle table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  line-height: 1.5em;
}

.colorblind .wikistyle table th {
  border-bottom: 1px solid #bbb !important;
  padding: 0.2em 1em !important;
}

.colorblind .wikistyle table td {
  border-bottom: 1px solid #ddd !important;
  padding: 0.2em 1em !important;
}


