
.bloodshot {
  background: #FFF;
  font-size: 11pt;
  color: #000;
}

.bloodshot .header {
  display: none;
}

.bloodshot .wikistyle {
  border: none;
}

.bloodshot .wikistyle h1 {
 border-style: solid !important;
}

.bloodshot .wikistyle h2 {
 border-style: solid !important;
}

.bloodshot .wikistyle h5 {
  border-style: solid !important;
}
.bloodshot .wikistyle pre,
.bloodshot .wikistyle code {
  border-style: solid !important;
}

.bloodshot .wikistyle blockquote {
  border-left-style: solid !important;
}

