
.github {
  background-color: #FFF;
  margin: 0 auto;
  padding: 0 15px;
  width: 920px;
  height: 100%;
  font: normal normal normal 13.34px/normal Helvetica, Arial, freesans, clean, sans-serif;
  *font-size: small;
  color: #000;
}

/* Header and theme selector */

.github .header h2 {
  margin-top: 1em;
  font-size: 140%;
  font-weight: normal;
}

.github .header select {
  margin-top: -2em;
  float: right;
}

.github .header select,
.github .header option {
  padding: 0 0.25em;
}

.github .header optgroup {
  margin-top: 0.5em;
}


/* Theme for markdown document */

.github .wikistyle {
  line-height: 1.4em;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  margin: 1em 0;
  padding: 0.7em;
}

.github .wikistyle img {
  border: 0;
  max-width: 100%;
}

.github .wikistyle h1,
.github .wikistyle h2,
.github .wikistyle h3,
.github .wikistyle h4,
.github .wikistyle h5,
.github .wikistyle h6 {
  border: 0 !important;
  margin-bottom: 1em !important;
}

.github .wikistyle h1 {
  font-size: 170% !important;
  border-top: 4px solid #aaa !important;
  padding-top: 0.5em !important;
  margin-top: 1.5em !important;
}

.github .wikistyle h1:first-child {
  margin-top: 0 !important;
  padding-top: 0.25em !important;
  border-top: none !important;
}

.github .wikistyle h2 {
  font-size: 150% !important;
  margin-top: 1.5em !important;
  border-top: 4px solid #e0e0e0 !important;
  padding-top: 0.5em !important;
}

.github .wikistyle h3 {
  margin-top: 1em !important;
}

.github .wikistyle p {
  margin: 1em 0 !important;
  line-height: 1.5em !important;
}

.github .wikistyle a {
  color: #4183C4;
  text-decoration: none;
  outline: none;
}

.github .wikistyle a:hover {
  text-decoration: underline;
}

.github .wikistyle ul,
.github .wikistyle ol {
  margin: 1em 0 1em 2em !important;
}

.github .wikistyle ul li,
.github .wikistyle ol li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.github .wikistyle ul ul,
.github .wikistyle ul ol,
.github .wikistyle ol ol,
.github .wikistyle ol ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.github .wikistyle dt {
  font-weight: bold !important;
  margin-left: 1em !important;
}

.github .wikistyle dd {
  margin-left: 2em !important;
  margin-bottom: 1em !important;
}

.github .wikistyle pre,
.github .wikistyle code {
  font: 12px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 12px !important;
  background-color: #F8F8FF !important;
  color: #444 !important;
  border: 1px solid #DEDEDE !important;
}

.github .wikistyle pre {
  margin: 1em 0 !important;
  padding: 0.5em !important;
  line-height: 1.4em !important;
  overflow: auto !important;
}

.github .wikistyle code {
  padding: 0 0.2em !important;
}

.github .wikistyle pre code {
  padding: 0 !important;
  font-size: 12px !important;
  background-color: #F8F8FF !important;
  border: none !important;
}

.github .wikistyle blockquote {
  margin: 1em 0 !important;
  border-left: 5px solid #DDD !important;
  padding-left: 0.6em !important;
  color: #555 !important;
}

.github .wikistyle abbr {
  border-bottom: none;
}

.github .wikistyle table {
  margin: 1em 0 !important;
}

.github .wikistyle table th {
  border-bottom: 1px solid #bbb !important;
  padding: 0.2em 1em !important;
}

.github .wikistyle table td {
  border-bottom: 1px solid #ddd !important;
  padding: 0.2em 1em !important;
}

