
.github {
  font: 14px Helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.6;
  color: #333;
  width: 920px;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

/* Header and theme selector */

.github .header {
  margin-top: 15px;
  background: #fafafa;
  background: -moz-linear-gradient(#fafafa,#eaeaea);
  background: -webkit-linear-gradient(#fafafa,#eaeaea);
  border: 1px solid #ccc;
  border-bottom: 0;
  height: 40px;
  overflow: hidden;
}

.github .header h2 {
  font-size: 16px;
  line-height: 0;
  font-weight: bold;
  padding-left: 10px;
  color: #555;
  text-shadow: 0 1px 0 #fff;
  border: none !important;
}

.github .header select {
  margin-top: -19px;
  margin-right: 10px;
  float: right;
}

/* Theme for markdown document */

.github .wikistyle {
  border: 1px solid #ccc;
  padding: 30px;
}

.github .wikistyle > :first-child {
  margin-top: 0 !important;
}

.github img {
  border: 0;
  max-width: 100%;
}

.github h1,
.github h2,
.github h3,
.github h4,
.github h5,
.github h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

.gihub > h2:first-child,
.gihub > h1:first-child,
.gihub > h1:first-child + h2,
.gihub > h3:first-child,
.gihub > h4:first-child,
.gihub > h5:first-child,
.gihub > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.github h1 {
  font-size: 28px;
  color: #000;
}

.github h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  color: #000;
}

.github h3 {
  font-size: 18px;
}

.github h4 {
  font-size: 16px;
}

.github h5 {
  font-size: 14px;
}

.github h6 {
  font-size: 14px;
  color: #777;
}

.github p {
  margin: 1em 0;
}

.github p,
.github blockquote,
.github ul,
.github ol,
.github dl,
.github table,
.github pre {
  margin: 15px 0;
}

.github  h1 + p,
.github  h2 + p,
.github  h3 + p,
.github  h4 + p,
.github  h5 + p,
.github  h6 + p {
  margin-top: 0;
}

.github hr {
  clear: both;
  margin: 15px 0;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC);
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0;
}

.github a {
  color: #4183c4;
  text-decoration: none;
}

.github a:hover {
  text-decoration: underline !important;
}

.github small,
.github big,
.github abbr,
.github acronym,
.github dfn,
.github cite,
.github address {
  font-style: normal;
  font-size: 14px;
}

.github ul,
.github ol {
  padding-left: 30px;
}

.github ul li > :first-child,
.github ol li > :first-child {
  margin-top: 0;
}

.github dl {
  padding: 0;
}

.github dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.github dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.github pre,
.github code,
.github tt {
  font-size: 12px;
  font-family: Consolas,Menlo,"Liberation Mono",Courier,monospace;
}

.github code,
.github tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.github pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.github pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.github pre code,
.github pre tt {
  background-color: transparent;
  border: none;
}

.github blockquote {
border-left: 4px solid #DDD;
padding: 0 15px;
color: #777;
}

.github blockquote,
.github q {
  quotes: none;
}

.github blockquote::before,
.github blockquote::after,
.github q::before,
.github q::after {
  content: none;
}

.github table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}
.github table tr th {
  font-weight: bold;
}

.github table tr th,
.github table tr td {
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.github table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.github table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

